*, h1, h2, h3 {
    margin:0;
}

body {
    /* color: red; */
}

.headline-logo {
    max-height: 5rem;
    max-width: 8rem;
    margin-right: 1rem;
}

.container {
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    color:darkblue;
}

.back-link {
    position: absolute;
    right: 2.5rem;
    top: 2rem
}

.comp-change {
    color: rgb(35, 152, 8);
    font-size: 70%;
}

.comp-change.red{
    color: red;
}

.comp-change.hide{
    display: none;
}

.comp-change::before{
    content: '('
}

.comp-change::after{
    content: '%)'
}



#search-button {
    width:120px;
}

#search-button #search-spinner {
    display: none;
}

#search-button.loading #search-spinner {
    display: inline-block;
}

#search-button.loading::after {
    content: 'ing'
}

#company-data-container .spinner-border {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}


#chart-container {
    text-align: center;
}

#companyChart {
    width: 50%;
}

.li-company-logo {
    max-height: 1.5rem;
    margin-right: .5rem;

}

.li-company-symbol {
    font-size: 70%;
}

.li-company-name {
    margin-right: .5rem;
}


#marquee {
    font-size: .75rem;
    display: flex;
    
}

.scrolling {
    display: flex;
    animation: marquee 100s linear infinite;
}

.marquee-link {
    display: flex;
}

#marquee:hover .scrolling {
    animation-play-state: paused;
  }

.marquee-price-change {
    color: rgb(0, 189, 60);
    margin-right: .5rem;

}

.marquee-link:hover .marquee-price-change {
    color: rgb(1, 123, 39);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.search-term {
    background-color:#FFFF00
}
